int nve1
{% for i in range(20010, 20091) %}
  no member vni {{ i }}
{% endfor %}

no evpn

no vlan 10-90

# {% for i in range(10, 91) %}
# no username student{{ i }}
# {% endfor %}

{% for i in range(10, 91) %}
no vrf context {{ i }}
{% endfor %}

no telemetry
