feature nxapi
nxapi http port 80

# for ARP suppression on 1st-gen N9Ks and N9Kvs
# hardware access-list tcam region vacl 0
# hardware access-list tcam region e-racl 0
# hardware access-list tcam region racl 0
# hardware access-list tcam region vpc-convergence 0
# hardware access-list tcam region arp-ether 256 double-wide

feature interface-vlan
feature vn-segment-vlan-based
feature nv overlay
feature bgp
nv overlay evpn
int nve1
  host-reachability protocol bgp
evpn

{% for i in range(10, 91) %}
username student{{ i }} password cisco role network-admin
{% endfor %}
